---
layout: default
---

{% for post in site.posts %}
<div id="{{ post.date | date: "%F-%H" }}" class="unit whole align-left post">
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<h2><a href="{{post.url}}">{{ post.title }}</a></h2>

		<div class="post-content">
			{{ post.content | truncate:300 }}
			{% if post.content | size > 300 %}
				<br>
				<br>
				<a class="chip" href="{{post.url}}"><i class="icon ion-ios-book"></i> Read more</a>
			{% endif %}
		</div>
		<hr>

	</article>
</div>
{% endfor %}
